* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-size: 12pt;
}

html, body {
  height: 100%;
  width: 100%;
  color: #627254;
  background-color: #EEEEEE;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.conteiner {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}