//sass --watch ./src/assets/scss/requests/_requests.scss ./src/assets/scss/requests/requests.css  

@import '../header/header', '../header/colors', '../header/wrapper';

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100dvh;
    width: 100dvw;
}

.chatbox{
    @extend %wrapper;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex:1;
    width: 75%;
    border-left: 2px solid $dark-green;
    border-right: 2px solid $dark-green;
    background-color: $dark-white;
}

%msg{
    border: 2px solid $dark-green;
    border-radius: 15px;
    max-width: 50%;
    padding: 4px;
    margin: 4px
}

.msg-received{
    @extend %msg;
    background-color: $white;
    color: $dark-green;
    width: fit-content;
}

.msg-sent{
    @extend %msg;
    margin-left: auto;
    background-color: $dark-green;
    color: $white;
    width: fit-content;
}